@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300..800&display=swap');
@import "tailwindcss";

*{
  font-family: Outfit;
}

.active {
  background-color: #eff6ff;
  border-color: #93c5fd;
  color: #1d4ed8;
}

select,input, textarea {
  border: 1px solid #c2c2c2;
  outline-color: #2563eb;
  border-radius: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
